<template>
  <div style="padding: 20px">
    <div class="my-3 p-5 bg-white rounded shadow-sm">
      <div class="row">
        <div class="col-12">
          <form @submit.prevent="addUser">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" id="name" type="text" v-model="user.name" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="role">Role</label>
                  <select class="form-control" id="role" v-model="user.role" required>
                    <option disabled selected value>Please select a Role</option>
                    <option v-for="role in roles" v-bind:value="role.value">{{ role.text }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" type="email" v-model="user.email" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    v-model="user.password"
                    required
                  >
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-6">
                <label for="active">Active</label>
                <br>
                <toggle-button
                  id="active"
                  color="#13d7bc"
                  v-model="user.active"
                  :labels="false"
                  :width="55"
                  :height="30"
                />
              </div>
              <div class="col-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-success float-right">Add User</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: '',
        email: '',
        password: '',
        role: '',
        active: true
      },
      roles: [
        { text: 'Office Administrator', value: 1 },
        { text: 'Office Assistant', value: 2 },
        { text: 'Team Member', value: 3 }
      ]
    }
  },
  methods: {
    addUser() {
      this.$store
        .dispatch('addUser', this.user)
        .then(response => {
          this.clearForm()
          this.$store.dispatch('getUsers')
          this.$parent.setActiveTabName('users')
        })
        .catch(error => {
          console.log(error)
        })
    },
    clearForm() {
      this.user.name = ''
      this.user.role = ''
      this.user.email = ''
      this.user.password = ''
      this.user.active = true
    }
  }
}
</script>

<style scoped>
</style>
