<template>
  <tr class="w-100" @mouseover="show = true" @mouseleave="show = false">
    <td class="w-25">
      <div v-if="!editing" @dblclick="editUser">{{ user.name }}</div>
      <input
        v-else
        type="text"
        v-model="user.name"
        @keyup.enter="updateUser"
        v-focus
        class="form-control"
        placeholder="Add User Name"
      >
    </td>
    <td class="w-25">
      <div v-if="!editing" @dblclick="editUser">{{ user.email }}</div>
      <input
        v-else
        type="email"
        v-model="user.email"
        @keyup.enter="updateUser"
        class="form-control"
        placeholder="Add User Email"
      >
    </td>
    <td class="text-center w-20">
      <select class="form-control" v-model="user.role" @change="updateUser">
        <option v-for="role in roles" v-bind:value="role.value">{{ role.text }}</option>
      </select>
    </td>
    <td class="text-center w-10">
      <toggle-button
        color="#13d7bc"
        v-model="user.active"
        @change="updateUser"
        :labels="false"
        :width="50"
        :height="25"
      />
    </td>
    <td class="text-center w-20 pr-5" style="min-width: 70px">
      <span
        v-show="show"
        style="cursor: pointer; color: red"
        v-if="!editing"
        @click="removeUser(user.id)"
      >
        <TrashIcon/>
      </span>
    </td>
  </tr>
</template>

<script>
import TrashIcon from '@/assets/img/delete.svg'
export default {
  components: {
    TrashIcon
  },
  name: 'user-item',
  props: {
    user: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      id: this.user.id,
      name: this.user.name,
      email: this.user.email,
      role: this.user.role,
      active: this.user.active,
      editing: this.user.editing,
      roles: [
        { text: 'Office Administrator', value: 1 },
        { text: 'Office Assistant', value: 2 },
        { text: 'Team Member', value: 3 }
      ],
      show: false
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus()
      }
    }
  },
  methods: {
    removeUser(id) {
      this.$store.dispatch('deleteUser', id)
    },
    editUser() {
      // this.beforeEditCache = this.title
      this.editing = true
    },
    updateUser() {
      // if (this.title.trim() == '') {
      //   this.title = this.beforeEditCache
      // }
      this.editing = false
      // Update user
      this.$store.dispatch('updateUser', {
        id: this.user.id,
        name: this.user.name,
        email: this.user.email,
        role: this.user.role,
        active: this.user.active
      })
    }
  }
}
</script>

<style scoped>
</style>
