<template>
  <div style="padding: 20px">
    <div class="my-3 p-5 bg-white rounded shadow-sm">
      <div class="row">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="w-25">Name</th>
                <th scope="col" class="w-25">Email</th>
                <th scope="col" class="text-center w-25">Role</th>
                <th scope="col" class="text-center w-25">Active</th>
                <th scope="col" class="text-center w-auto"></th>
              </tr>
            </thead>
            <tbody>
              <user-item v-for="user in getUsers" :key="user.id" :user="user"></user-item>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserItem from './UserItem'

export default {
  components: {
    UserItem
  },
  data() {
    return {
      users: []
    }
  },
  created() {
    this.$store.dispatch('getUsers')
  },
  computed: {
    getUsers() {
      return this.$store.getters.getUsers
    }
  },
  watch: {}
}
</script>

<style scoped>
</style>
