@import './src/assets/scss/variables.scss';

.row {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
.btn {
  // color: #fff;
  // width: 250px;
  width: 15rem;
  font-weight: 300;
  height: calc(2.75rem + 2px);
  transition: all 0.15s ease;
  will-change: transform;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:hover {
    color: #fff;
    // box-shadow: 0 6px 8px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    // transform: translateY(-1px);
  }
}
.btn-success {
  background-color: $green;
  border-color: $green;
  &:hover {
    background-color: $green;
    border-color: $green;
  }
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  background-color: $green;
  border-color: $green;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $darkGrey;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $grey;
  border-radius: 0.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &:focus {
    color: $darkGrey;
    background-color: #fff;
    border-color: $green;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: #14e6ca !important;
  background-image: none !important;
  color: $darkGrey !important;
}

// Vue-Boostrap
.nav-tabs {
  // border-bottom: none;
  a {
    color: $darkGrey;
  }
}
body #app .nav.nav-tabs:focus {
  outline: none !important;
}
.nav-tabs .nav-item {
  cursor: pointer;
  color: $green;
  border: none;
  border-bottom: 3px solid transparent;
  margin-right: 2.5rem;
}
.nav-tabs a.nav-item.nav-link {
  &:hover {
    color: $green;
    border: none;
    border-bottom: 3px solid $green;
  }
}
.nav-tabs a.nav-item.nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  color: $green;
  border-bottom: 3px solid $green;
  background-color: transparent;
  &:hover {
    color: $green;
  }
}

.col-form-label {
  font-size: 0.8em;
  color: $grey;
}

.table thead th {
  border: 0px;
}

table tbody {
  border-bottom: 1px solid #dee2e6;
  label {
    margin-bottom: 0;
  }
}
.table th,
.table td {
  vertical-align: middle;
  padding: 1rem 0;
}
.table-hover tbody tr:hover {
  background-color: #fafafa !important;
}

// helpers
.w-10 {
  width: 10% !important;
}
.w-20 {
  width: 20% !important;
}
.w-125 {
  width: 12.5% !important;
}
.w-1875 {
  width: 18.75% !important;
}

.feedback {
  text-align: left;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $red;
}
// MODAL
.sweet-modal-overlay {
  -webkit-font-smoothing: unset;
}
.sweet-modal .sweet-box-actions .sweet-action-close:hover {
  background-color: $red;
}
