@import './src/assets/scss/variables.scss';
@import './src/assets/scss/sidebar.scss';

:root,
body,
#app,
.body,
.sidebar {
  min-height: 100%;
  //   background-color: #fafafa;
  color: $darkGrey;
}

.body {
  background-color: #fafafa;
  width: 100%;
  //   display: inline-flex;
  font-family: 'Open Sans', sans-serif;
}

.home {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}
header {
  max-height: 80px;
}

.user-icon {
  cursor: pointer;
  @include float-right;
  margin: 20px;
  div {
    margin-top: 8px;
  }
  p {
    font-size: 0.8em;
  }
  img {
    vertical-align: top !important;
    width: 50px;
  }
}

.menu {
  border-bottom: 1px solid #bbb;
  min-height: 30px;
  .menu-item {
    display: inline;
    margin: 0 20px;
    cursor: pointer;
  }
}
