@import './src/assets/scss/variables.scss';

.sidebar {
  background-color: #fff;
  display: inline-flex;
  padding: 0;
  -webkit-box-shadow: 4px 0px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 6px -6px rgba(0, 0, 0, 0.75);
  ul {
    padding: 0;
    width: 100%;
    .router-link-active {
      li {
        border-left: 6px solid $purp;
        background-color: #fbfbfb;
      }
      span {
        color: $darkGrey;
      }
      svg {
        fill: $purp !important;
      }
    }
    li {
      position: relative;
      padding: 20px 0 20px 20px;
      // width: 100%;
      border-left: 6px solid rgba(255, 255, 255, 0);
      &:hover {
        background-color: #fbfbfb;
        border-left: 6px solid $purp;
      }
    }
    .logo {
      // margin-bottom: 20px;
      padding: 20px;
    }
    .menu-item {
      text-decoration: none;
      color: $grey;
      font-size: 18px;
      .icon {
        width: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      svg {
        fill: $grey;
      }
    }
    span {
      font-weight: 400;
      margin-left: 33px;
    }
  }
}
