<template>
  <div>
    <nav>
      <div class="nav nav-tabs">
        <a
          class="nav-item nav-link"
          v-for="tab in tabs"
          v-bind:class="{ active: (tab.name == activeTab) ? true : ''}"
          @click.prevent="setActiveTabName(tab.name)"
        >{{ tab.displayName }}</a>
      </div>
    </nav>
    <div v-show="activeTab == 'open'">
      <Open></Open>
    </div>
    <div v-show="activeTab == 'shopList'">Shop List</div>
    <div v-show="activeTab == 'inventory'">inventory</div>
    <div v-show="activeTab == 'cancelled'">cancelled</div>
    <div v-show="activeTab == 'closed'">closed</div>
  </div>
</template>

<script>
import Open from './orders/Open.vue'

export default {
  components: {
    Open
  },
  data() {
    return {
      tabs: [
        {
          name: 'open',
          displayName: 'OPEN'
        },
        {
          name: 'shopList',
          displayName: 'SHOP LIST'
        },
        {
          name: 'inventory',
          displayName: 'INVENTORY'
        },
        {
          name: 'cancelled',
          displayName: 'CANCELLED'
        },
        {
          name: 'closed',
          displayName: 'CLOSED'
        }
      ],
      activeTab: 'open'
    }
  },
  mounted() {
    this.activeTab = 'open'
  },
  methods: {
    setActiveTabName(name) {
      this.activeTab = name
    }
  }
}
</script>
