<template>
  <div>
    <nav>
      <div class="nav nav-tabs">
        <a
          class="nav-item nav-link"
          v-for="tab in tabs"
          v-bind:class="{ active: (tab.name == activeTab) ? true : ''}"
          @click.prevent="setActiveTabName(tab.name)"
        >{{ tab.displayName }}</a>
      </div>
    </nav>
    <div v-show="activeTab == 'accounts'">
      <Accounts></Accounts>
    </div>
    <div v-show="activeTab == 'rewardsType'">
      <RewardsType></RewardsType>
    </div>
    <div v-show="activeTab == 'aptType'">
      <AptType></AptType>
    </div>
  </div>
</template>


<script>
import Accounts from './settings/Accounts.vue'
import RewardsType from './settings/RewardsType.vue'
import AptType from './settings/AptType.vue'

export default {
  components: {
    Accounts,
    RewardsType,
    AptType
  },
  data() {
    return {
      tabs: [
        {
          name: 'accounts',
          displayName: 'ACCOUNTS'
        },
        {
          name: 'rewardsType',
          displayName: 'REWARDS TYPE'
        },
        {
          name: 'aptType',
          displayName: 'APPOINTMENT TYPE'
        }
      ],
      activeTab: 'accounts'
    }
  },
  mounted() {
    this.activeTab = 'accounts'
  },
  methods: {
    setActiveTabName(name) {
      this.activeTab = name
    }
  }
}
</script>

<style scoped>
tbody {
  border: 1px solid #e9ecef;
}
.btn.btn-outline-danger {
  width: 70px;
}
.table th,
.table td {
  vertical-align: middle;
}
</style>
