<template>
  <div>
    <nav>
      <div class="nav nav-tabs">
        <a
          class="nav-item nav-link"
          v-for="tab in tabs"
          v-bind:class="{ active: (tab.name == activeTab) ? true : ''}"
          @click.prevent="setActiveTabName(tab.name)"
        >{{ tab.displayName }}</a>
      </div>
    </nav>
    <div v-show="activeTab == 'users'">
      <Users></Users>
    </div>
    <div v-show="activeTab == 'addUser'">
      <NewUser></NewUser>
    </div>
  </div>
</template>

<script>
import Users from './users/Users.vue'
import NewUser from './users/NewUser.vue'

export default {
  components: {
    Users,
    NewUser
  },
  data() {
    return {
      tabs: [
        {
          name: 'users',
          displayName: 'USERS'
        },
        {
          name: 'addUser',
          displayName: 'ADD USER'
        }
      ],
      activeTab: 'users'
    }
  },
  mounted() {
    this.activeTab = 'users'
  },
  methods: {
    setActiveTabName(name) {
      this.activeTab = name
    }
  }
}
</script>

<style scoped>
tbody {
  border: 1px solid #e9ecef;
}
.btn.btn-outline-danger {
  width: 70px;
}
.table th,
.table td {
  vertical-align: middle;
}
.nav .nav-tabs:focus {
  outline: none;
}
</style>
