<template>
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <!-- <main class="text-center login-card"> -->
      <main class="text-center">
        <h1 class="h3 mb-3">Home goes here</h1>
      </main>
    </div>
    <div class="col-4"></div>
  </div>
</template>