<template>
  <div>
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      id="mainNav"
      style="    background-color: white;"
    >
      <div class="container">
        <router-link :to="{ name: 'home' }" class="navbar-brand js-scroll-trigger">
          <img class="hr-logo" src="@/assets/img/hr_logo.png" alt>
        </router-link>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <router-link :to="{ name: 'home' }" class="nav-link js-scroll-trigger">Home</router-link>
            </li>-->
            <li class="nav-item">
              <router-link :to="{ name: 'login' }" class="nav-link js-scroll-trigger">Login</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.hr-logo {
  width: 60%;
}
</style>
