<template>
  <div>
    <div class="my-5 rounded shadow-sm card" v-for="order in getOrders" :key="order.id">
      <div class="row header">
        <div class="col">
          <p class="mt-3 mb-0 title">Order Number</p>
          <p class="mt-0 mb-3">{{ order.id }}</p>
        </div>
        <div class="col">
          <p class="mt-3 mb-0 title">Placed Date</p>
          <p class="mt-0 mb-3">{{ order.created_at | moment("lll") }}</p>
        </div>
        <div class="col">
          <p class="mt-3 mb-0 title">Order Points</p>
          <p class="mt-0 mb-3">{{ order.points }}</p>
        </div>
        <div class="col">
          <p class="mt-3 mb-0 title">Patient Name</p>
          <p class="mt-0 mb-3 pat_name">{{ order.user_name }}</p>
        </div>
      </div>
      <div class="row body">
        <div class="col-12">
          <div class="row">
            <dir class="col-8">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th></th> -->
                    <th class="text-left">Card</th>
                    <th class="text-center">Value</th>
                    <th class="text-center">Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="reward in JSON.parse(order.rewards)">
                    <!-- <td>image</td> -->
                    <td class="text-left">{{ reward.name }}</td>
                    <td class="text-center">${{ reward.value }}</td>
                    <td class="text-center">{{ reward.qty }}</td>
                  </tr>
                </tbody>
              </table>
            </dir>
            <dir class="col-4">
              <p class="mb-0 title">Ship To</p>
              <p class="mt-0 pat_name">
                <span>{{ order.name }}</span>
                <br>
                <span>{{ order.address}}</span>
                <br>
                <span>{{ order.city_prov}}&nbsp;-&nbsp;</span>
                <span>{{ order.postal_code}}</span>
              </p>
              <button
                type="button"
                class="btn btn-outline-secondary mt-3 mb-3"
                @click="openModal(order.id, 'cancel', true)"
              >Cancel Order</button>
              <button
                type="button"
                class="btn btn-warning mb-3"
                @click="openModal(order.id, 'close', false)"
              >Close Order</button>
            </dir>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->
    <sweet-modal icon="warning" overlay-theme="dark" ref="modal">
      <h5>Are you sure you want to {{ this.modalAction }} this order?</h5>
      <div>
        <div class="form-group" v-show="cancel">
          <textarea
            class="form-control mt-3"
            rows="3"
            placeholder="Reason for cancel this order"
            v-model="modalReason"
          ></textarea>
          <div v-show="required" class="feedback">Please provide a reason.</div>
        </div>
      </div>
      <div class="float-right mt-5 mb-3">
        <button type="button" class="btn btn-outline-danger mr-3" @click="closeModal()">No!</button>
        <button
          type="button"
          class="btn btn-success"
          @click="updateOrder()"
        >Yes! {{ this.modalAction }} order</button>
      </div>
    </sweet-modal>
    <!-- end modal -->
  </div>
</template>

<script>
import { SweetModal } from 'sweet-modal-vue'

export default {
  components: {
    SweetModal
  },
  data() {
    return {
      modalId: '',
      modalAction: '',
      modalReason: '',
      cancel: false,
      required: false,
      orders: []
    }
  },
  created() {
    this.$store.dispatch('getOrders')
  },
  computed: {
    getOrders() {
      return this.$store.getters.getOrders
    }
  },
  methods: {
    openModal(id, action, cancel) {
      this.modalId = id
      this.modalAction = action
      this.cancel = cancel
      this.$refs.modal.open()
    },
    closeModal() {
      this.$refs.modal.close()
      this.cancel = false
      this.required = false
    },
    updateOrder() {
      if (this.modalAction == 'cancel' && this.modalReason == '') {
        this.required = true
      } else {
        this.closeModal()
        this.$store
          .dispatch('updateOrder', {
            id: this.modalId,
            action: this.modalAction,
            reason: this.modalReason
          })
          .then(response => {
            this.$store.dispatch('getOrders')
            this.modalReason = ''
          })
          .catch(error => {
            console.log(error)
            this.modalReason = ''
          })
      }
    }
  }
}
</script>

<style scoped lang="scss">
table {
  table-layout: fixed;
}
.card {
  .title {
    font-size: 0.8em;
  }
  .pat_name {
    color: #13d7bc;
  }
  border: 1px solid #f4f4f4;
  .header {
    min-height: 70px;
    background-color: #f4f4f4;
  }
  .body {
    min-height: 200px;
    background-color: #ffffff;
  }
}
</style>
