<template>
  <div style="padding: 20px">
    <div v-show="show" class="alert alert-success alert-dismissible fade show" role="alert">
      <!-- <strong>Your account was updated successfully!</strong> -->
      Your account was updated successfully!
      <button
        @click="show = false"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="my-3 p-5 bg-white rounded shadow-sm">
      <form @submit.prevent="updateAccount" v-bind:key="form.id">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input
                class="form-control"
                id="company-name"
                type="text"
                v-model="form.company_name"
                required
              >
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input class="form-control" id="phone" type="text" v-model="form.phone" required>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" id="email" type="email" v-model="form.email" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" id="address" type="text" v-model="form.address" required>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="city_prov">City, Province</label>
              <input
                class="form-control"
                id="city_prov"
                type="text"
                v-model="form.city_prov"
                required
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="country">Country</label>
              <input class="form-control" id="country" type="text" v-model="form.country" required>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="postal_code">Postal Code</label>
              <input
                class="form-control"
                id="postal_code"
                type="text"
                v-model="form.postal_code"
                required
              >
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-success float-right"
              :disabled="updating"
            >{{updatingLable}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        id: '',
        company_name: '',
        phone: '',
        email: '',
        address: '',
        city_prov: '',
        country: '',
        postal_code: ''
      },
      show: false,
      updating: false,
      updatingLable: 'Update Account'
    }
  },
  created() {
    this.$store.dispatch('getAccount').then(response => {
      this.form.id = response.data.account.id
      this.form.company_name = response.data.account.company_name
      this.form.phone = response.data.account.phone
      this.form.email = response.data.account.email
      this.form.address = response.data.account.address
      this.form.city_prov = response.data.account.city_prov
      this.form.country = response.data.account.country
      this.form.postal_code = response.data.account.postal_code
    })
  },
  methods: {
    updateAccount() {
      this.updating = true
      this.updatingLable = 'Updating'
      this.$store
        .dispatch('updateAccount', {
          id: this.form.id,
          company_name: this.form.company_name,
          phone: this.form.phone,
          email: this.form.email,
          address: this.form.address,
          city_prov: this.form.city_prov,
          country: this.form.country,
          postal_code: this.form.postal_code
        })
        .then(response => {
          this.show = true
          this.updating = false
          this.updatingLable = 'Update Account'
          setTimeout(() => {
            this.show = false
          }, 3000)
        })
        .catch(error => {
          this.updating = false
          this.updatingLable = 'Update Account'
        })
    }
  }
}
</script>

<style scoped>
</style>