<template>
  <tr>
    <td class="w-50">
      <div v-if="!editing" @dblclick="editApt">{{ apt.name }}</div>
      <input
        v-else
        type="text"
        v-model="apt.name"
        @keyup.enter="doneApt"
        v-focus
        class="form-control"
        placeholder="Add a new Appointment Type"
      >
    </td>
    <td class="text-center w-25">
      <div v-if="!editing" @dblclick="editApt">{{ apt.points }}</div>
      <input
        v-else
        type="number"
        v-model="apt.points"
        @keyup.enter="doneApt"
        class="form-control"
        placeholder="Add Points"
      >
    </td>
    <td class="text-center w-auto">
      <toggle-button color="#13d7bc" v-model="apt.active" @change="doneApt" :labels="false" :width="50" :height="25"/>
    </td>
    <td class="text-center w-auto">
      <p style="cursor: pointer; color: red" v-if="!editing" @click="removeApt(apt.id)">Delete</p>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'apt-item',
  props: {
    apt: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      id: this.apt.id,
      name: this.apt.name,
      points: this.apt.points,
      active: this.apt.active,
      editing: this.apt.editing
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus()
      }
    }
  },
  methods: {
    removeApt(id) {
      this.$store.dispatch('deleteApt', id)
    },
    editApt() {
      // this.beforeEditCache = this.title
      this.editing = true
    },
    doneApt() {
      // if (this.title.trim() == '') {
      //   this.title = this.beforeEditCache
      // }
      this.editing = false
      if (this.apt.id === undefined) {
        // Add Points
        this.$store.dispatch('addApt', {
          name: this.apt.name,
          points: this.apt.points,
          active: this.apt.active
        })
      } else {
        // Update Points
        this.$store.dispatch('updateApt', {
          id: this.apt.id,
          name: this.apt.name,
          points: this.apt.points,
          active: this.apt.active,
          editing: this.apt.editing
        })
      }
    }
  }
}
</script>

<style scoped>
</style>