<template>
  <div style="padding: 20px">
    <div class="my-3 p-5 bg-white rounded shadow-sm">
      <div class="row">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="w-50">Appointment Type</th>
                <th scope="col" class="text-center w-25">Points</th>
                <th scope="col" class="text-center w-auto">Active</th>
                <th scope="col" class="text-center w-auto"></th>
              </tr>
            </thead>
            <tbody>
              <apt-item v-for="apt in getApts" :key="apt.id" :apt="apt"></apt-item>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-warning float-right"
            @click="addApt"
          >Add Appointment Type</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AptItem from './AptItem'
export default {
  components: {
    AptItem
  },
  data() {
    return {
      apts: [],
      apt: {}
    }
  },
  created() {
    this.$store.dispatch('getApts')
  },
  computed: {
    getApts() {
      return this.$store.getters.getApts
    }
  },
  methods: {
    addApt(apt) {
      this.getApts.push(
        (apt = {
          name: '',
          points: '',
          active: true,
          editing: true
        })
      )
    }
  }
}
</script>

<style scoped>
</style>
