<template>
  <div style="padding: 20px">
    <div class="my-3 p-5 bg-white rounded shadow-sm">
      <div class="row">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Reward</th>
                <th scope="col" class="text-center">Value</th>
                <th scope="col" class="text-center">Points</th>
                <th scope="col" class="text-center">Active</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <reward-item v-for="reward in getRewards" :key="reward.id" :reward="reward"></reward-item>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-warning float-right"
            @click="addReward"
          >Add Reward Type</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RewardItem from './RewardItem'
export default {
  components: {
    RewardItem
  },
  data() {
    return {
      rewards: [],
      reward: {}
    }
  },
  created() {
    this.$store.dispatch('getRewards')
  },
  computed: {
    getRewards() {
      return this.$store.getters.getRewards
    }
  },
  methods: {
    addReward(reward) {
      this.getRewards.push(
        (reward = {
          name: '',
          value: '',
          points: '',
          active: true,
          editing: true
        })
      )
    }
  }
}
</script>

<style scoped>
</style>
