<template>
  <tr>
    <td class="w-25">
      <div v-if="!editing" @dblclick="editReward">{{ reward.name }}</div>
      <input
        v-else
        type="text"
        v-model="reward.name"
        @keyup.enter="doneReward"
        v-focus
        class="form-control"
        placeholder="Add Reward Name"
      >
    </td>
    <td class="text-center w-1875">
      <div v-if="!editing" @dblclick="editReward">${{ reward.value }}</div>
      <input
        v-else
        type="number"
        v-model="reward.value"
        @keyup.enter="doneReward"
        class="form-control"
        placeholder="Add Value"
      >
    </td>
    <td class="text-center w-1875">
      <div v-if="!editing" @dblclick="editReward">{{ reward.points }}</div>
      <input
        v-else
        type="number"
        v-model="reward.points"
        @keyup.enter="doneReward"
        class="form-control"
        placeholder="Add Points"
      >
    </td>
    <td class="text-center w-1875">
      <toggle-button
        color="#13d7bc"
        v-model="reward.active"
        @change="doneReward"
        :labels="false"
        :width="50"
        :height="25"
      />
    </td>
    <td class="text-center w-1875">
      <p style="cursor: pointer; color: red" v-if="!editing" @click="removeReward(reward.id)">Delete</p>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'reward-item',
  props: {
    reward: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      id: this.reward.id,
      name: this.reward.name,
      value: this.reward.value,
      points: this.reward.points,
      active: this.reward.active,
      editing: this.reward.editing
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus()
      }
    }
  },
  methods: {
    removeReward(id) {
      this.$store.dispatch('deleteReward', id)
    },
    editReward() {
      // this.beforeEditCache = this.title
      this.editing = true
    },
    doneReward() {
      // if (this.title.trim() == '') {
      //   this.title = this.beforeEditCache
      // }
      this.editing = false
      if (this.reward.id === undefined) {
        // Add Reward
        this.$store.dispatch('addReward', {
          name: this.reward.name,
          value: this.reward.value,
          points: this.reward.points,
          active: this.reward.active
        })
      } else {
        // Update Reward
        this.$store.dispatch('updateReward', {
          id: this.reward.id,
          name: this.reward.name,
          value: this.reward.value,
          points: this.reward.points,
          active: this.reward.active,
          editing: this.reward.editing
        })
      }
    }
  }
}
</script>

<style scoped>
</style>