<template>
  <div id="app">
    <!-- NOT LOGGED -->
    <div v-if="!loggedIn" class="home">
      <div class="row">
        <div class="col-12 p-0">
          <NavBar></NavBar>
        </div>

        <div class="col-12">
          <router-view></router-view>
        </div>
      </div>
    </div>

    <!-- LOGGEDIN -->
    <div v-if="loggedIn" class="body row">
      <nav class="col-2 sidebar">
        <ul>
          <div class="logo">
            <img class="hr-logo" src="@/assets/img/hr_logo.png" alt>
          </div>
          <router-link :to="{ name: 'dashboard' }" class="menu-item">
            <li>
              <DashboardIcon class="icon"/>
              <span>Dashboard</span>
            </li>
          </router-link>

          <router-link :to="{ name: 'patients' }" class="menu-item">
            <li>
              <PatientsIcon class="icon" style="bottom: 5px;"/>
              <span>Patients</span>
            </li>
          </router-link>

          <router-link :to="{ name: 'orders' }" class="menu-item">
            <li>
              <OrdersIcon class="icon" style="width: 23px; bottom: 3px; left: 17px;"/>
              <span>Orders</span>
            </li>
          </router-link>

          <router-link :to="{ name: 'users' }" class="menu-item">
            <li>
              <UsersIcon class="icon" style="bottom: 5px;"/>
              <span>Users</span>
            </li>
          </router-link>

          <router-link :to="{ name: 'settings' }" class="menu-item">
            <li>
              <SettingsIcon class="icon"/>
              <span>Settings</span>
            </li>
          </router-link>

          <router-link v-if="loggedIn" :to="{ name: 'logout' }" class="menu-item">
            <li>
              <span>Logout</span>
            </li>
          </router-link>
        </ul>
      </nav>

      <main class="col-10">
        <div class="row">
          <header class="col-12">
            <div class="user-icon text-right">
              <div class="d-inline-block mr-3">
                <h6 class="m-0">Admin Silva</h6>
                <p class="m-0">admin</p>
              </div>
              <img
                class="rounded-circle d-inline-block"
                src="https://www.w3schools.com/w3css/img_avatar3.png"
                alt
              >
            </div>
          </header>
          <div class="col-12" style="padding: 20px;">
            <router-view></router-view>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import NavBar from './components/layout/NavBar.vue'

import DashboardIcon from './assets/img/dashboard.svg'
import OrdersIcon from './assets/img/orders.svg'
import PatientsIcon from './assets/img/patients.svg'
import SettingsIcon from './assets/img/settings.svg'
import UsersIcon from './assets/img/users.svg'

export default {
  components: {
    NavBar,
    DashboardIcon,
    OrdersIcon,
    PatientsIcon,
    SettingsIcon,
    UsersIcon
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    }
  }
}
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './src/assets/scss/custom-bootstrap.scss';
@import './src/assets/scss/master.scss';

// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

.hr-logo {
  width: 90%;
  max-width: 150px;
}
</style>
