<template>
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <main class="text-center my-3 p-3 bg-white rounded shadow-sm">
        <div v-if="successMessage" class="success-message">{{ successMessage }}</div>
        <div v-if="serverError" class="server-error">{{ serverError }}</div>
        <form class="form-signin" action="#" @submit.prevent="login">
          <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt width="72" height="72"> -->
          <h1 class="h3 mb-3">Please Login</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control mb-3"
            placeholder="Email address"
            required
            name="email"
            v-model="email"
          >
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
            v-model="password"
          >
          <div class="mb-3">
            <!-- <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>-->
          </div>
          <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
          <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
        </form>
      </main>
    </div>
    <div class="col-4"></div>
  </div>
</template>

<script>
export default {
  name: 'login',
  props: {
    dataSuccessMessage: {
      type: String
    }
  },
  data() {
    return {
      email: '',
      password: '',
      serverError: '',
      successMessage: this.dataSuccessMessage,
      loading: false
    }
  },
  methods: {
    login() {
      this.loading = true
      this.$store
        .dispatch('retrieveToken', {
          email: this.email,
          password: this.password
        })
        .then(response => {
          this.loading = false
          this.serverError = response.data
          this.$router.push({ name: 'dashboard' })
        })
        .catch(error => {
          this.loading = false
          this.serverError = error.response.data
          this.password = ''
          this.successMessage = ''
        })
    }
  }
}
</script>

<style lang="scss">
</style>

